/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

.ctverecek {
    font: 30px/1 sans-serif;
    font-weight: bold;
    border: 1px solid black;
    min-height: 100px;
}

.prvni { background-color: #2ecc71;}
.druhy { background-color: #f1c40f;}
.treti { background-color: #3498db;}
.ctvrty { background-color: #e74c3c;}

.kontejner {
    padding: 10px;
    border: 1px dashed red;
    background-color: #ffffcc;
}

/* ---------------------------------------------------- */
/* ZDE NAPIŠ VLASTNÍ CSS */

.kontejner {
    display: flex;
}

.prvni{
flex-grow: 1;
order: 1;
width: 33.333%;
}

.druhy{
width: 100px;
order: 2;
flex-shrink: 0;
}

.treti{
width: 100px;
order: 3;
flex-shrink: 0;
}

.ctvrty{
flex-grow: 2;
order: 4;
width: 66.666%
}